.burger-button-container {
  display: none;
  margin-right: 8px;
  z-index: 3;
}

.burger-button {
  position: relative;
  width: 40px;
  height: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 8px;
}

.burger-line {
  align-self: center;
  width: 20px;
  height: 1px;
  background-color: var(--color-dark, #181c29);
}

.burger-line-top,
.burger-line-bottom {
  position: absolute;
  transition-duration: 0.2s;
  transition-property: all;
  transition-delay: 0.1s;
  transition-timing-function: ease-in-out;
}

.burger-line-top {
  top: 15px;
}

.burger-line-bottom {
  top: 23px;
}

.burger__active .burger-line-top {
  transform: translateY(4px) rotate(45deg);
}

.burger__active .burger-line-bottom {
  transform: translateY(-4px) rotate(-45deg);
}

.burger-container {
  display: none;
  position: absolute;
  width: 100%;
  height: 100vh;
  top: 0;
  right: -768px;
  z-index: 3;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background: var(--color-white, #fff);
  transition-duration: 0.5s;
  transition-property: all;
  transition-delay: 0.1s;
  transition-timing-function: ease-in-out;
}

.burger-container__open {
  transform: translateX(-768px);
}

.burger-items-container {
  transform: translateY(30px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.burger-item {
  padding: 12px 20px;
  color: var(--color-darkdark, #181c29);
  font-family: Montserrat;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 152%; /* 36.48px */
  letter-spacing: 3.84px;
  text-transform: uppercase;
}

.burger-item-active {
  color: var(--color-primary, #ff4646);
  background-color: var(--color-primary-10, rgba(255, 70, 70, 0.1));
  border-radius: 12px;
}
