/* burger */

@media (max-width: 768px) {
  .nav-links-container {
    display: none;
  }

  .burger-button-container {
    display: block;
  }

  .burger-container {
    display: flex;
  }

  .logo-container {
    margin-left: 8px;
  }
}

/* desktop */

@media (max-width: 1292px) {
  .contacts-items-container {
    max-width: calc(100vw - 16px);
  }
}

@media (max-width: 920px) {
  .contacts-items-container {
    margin-top: 2px;
    flex-direction: column;
    justify-content: center;
  }

  .contact-item {
    margin-top: 0;
    align-self: center;
    width: calc(100vw - 16px);
  }

  .gifts-header-container {
    background-size: contain;
    background-position: top center;
    flex-wrap: wrap;
  }
}

/* tablet */

@media (max-width: 768px) {
  /*.slider-items-container {*/
  .slider-wrapper {
    padding: 0 8px;
  }

  .slider-controls {
    padding: 0 8px;
  }
}

@media (max-width: 654px) {
  .about-container {
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 60px;
    border-radius: 20px;
    background-color: var(--color-white, #fff);
  }

  .modal-container {
    width: 364px;
  }

  .modal-image img {
    margin-top: -20px;
    max-width: 100%;
    height: auto;
  }

  .about-content-container {
    align-self: flex-start;
    padding: 60px 40px 0 40px;
    max-width: 426px;
  }

  .about-image {
    max-width: calc(100vw - 16px);
    width: 638px;
    height: 528px;
  }
}

/* mobile */

@media (max-width: 380px) {
  .burger-items-container {
    transform: translateY(-56px);
  }

  .scroll-to-top {
    left: calc(100vw - 62px);
  }

  .about-content-container {
    padding: 60px 20px 0 20px;
  }

  .best-container {
    margin: 0 20px;
  }

  .gifts-header-container {
    height: 100%;
    padding: 60px 16px 0 16px;
    flex-wrap: wrap;
  }

  .gifts-tab {
    padding: 12px 8px;
  }

  .gifts-tabs-items {
    padding-top: 20px;
    gap: 0px;
  }
}

/* disable hover effects */

@media (hover: none) and (pointer: coarse) {
  .modal-button:hover {
    transform: none;
  }

  a.nav-link:hover::before {
    background-color: transparent;
  }

  li.nav-item:hover {
    cursor: default;
  }

  .nav-item a:hover {
    color: var(--color-dark, #181c29);
  }

  .hero-button:hover,
  .cta-button:hover {
    background-color: var(--color-dark, #181c29);
    color: var(--color-white, #fff);
    cursor: default;
  }

  .slider-button:hover {
    background-color: transparent;
    border: 1px solid var(--color-white, #fff);
    cursor: default;
  }

  .slider-button:hover svg path {
    border: 1px solid var(--color-white, #fff);
    stroke: var(--color-white, #fff);
  }

  .slider-button__inactive:hover,
  .slider-button__inactive:hover svg path {
    background-color: transparent;
    border: 1px solid var(--color-white-40, rgba(255, 255, 255, 0.4));
    stroke: var(--color-white-40, rgba(255, 255, 255, 0.4));
    cursor: default;
  }

  .best-item:hover {
    cursor: default;
  }

  .best-item:hover .best-header-h3 {
    color: var(--color-dark, #181c29);
    cursor: default;
  }

  button.gifts-tab:hover {
    background-color: transparent;
    cursor: default;
  }

  button.gifts-tab:hover.tab__active {
    background-color: var(--color-white-20, rgba(255, 255, 255, 0.2));
  }

  .contact-item:hover {
    cursor: default;
  }

  .contact-item:hover .contact-item-caption,
  .contact-item:hover .contact-header-h3 {
    color: var(--color-dark, #181c29);
  }

  .social-item:hover,
  .contacts-caption:hover a {
    cursor: default;
  }

  .social-item:hover svg path {
    stroke: var(--color-dark, #181c29);
  }

  .contacts-caption:hover a {
    color: var(--color-dark, #181c29);
  }
}
