/* burger */

@media (max-width: 768px) {
  .nav-links-container {
    display: none;
  }

  .burger-button-container {
    display: block;
  }

  .logo-container {
    margin-left: 8px;
  }
}

/* desktop */

@media (max-width: 1292px) {
  .contacts-items-container {
    max-width: calc(100vw - 16px);
  }
}

@media (max-width: 920px) {
  .contacts-items-container {
    margin-top: 2px;
    flex-direction: column;
    justify-content: center;
  }

  .contact-item {
    margin-top: 0px;
    align-self: center;
    width: calc(100vw - 16px);
  }
}

/* tablet */

@media (max-width: 768px) {
  .slider-items-container {
    padding: 0 8px;
  }

  .slider-controls {
    padding: 0 8px;
  }
}

@media (max-width: 654px) {
  .about-container {
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 60px;
    border-radius: 20px;
    background-color: var(--color-white, #fff);
  }

  .about-content-container {
    align-self: flex-start;
    padding: 60px 40px 0 40px;
    max-width: 426px;
  }

  .about-image {
    max-width: calc(100vw - 16px);
    width: 638px;
    height: 528px;
  }
}

/* mobile */

@media (max-width: 380px) {
  .about-content-container {
    padding: 60px 20px 0 20px;
  }

  .best-container {
    margin: 0 20px;
  }
}
