:root {
  --page-width: 1440px;
  --color-dark: #181c29;
  --color-primary: #ff4646;
  --color-primary-10: rgba(255, 70, 70, 0.1);
  --color-content: #ecf3f8;
  --color-white: white;
  --color-white-20: rgba(255, 255, 255, 0.2);
  --color-white-40: rgba(255, 255, 255, 0.4);
  --color-purple: #4361ff;
  --color-green: #06a44f;
  --color-pink: #ff43f7;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  margin: 0;
  padding: 0;
  background: var(--color-white, #fff);
}

ul {
  list-style-type: none;
}

li.nav-item:hover {
  cursor: pointer;
}

p,
h1,
h2,
h3,
h4,
ul {
  padding: 0;
  margin: 0;
}

.container {
  max-width: 1440px;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
  background: var(--color-white);
}

.align-left {
  text-align: left;
}

.align-center {
  text-align: center;
}

.color-dark {
  color: var(--color-dark, #181c29);
}

.color-primary {
  color: var(--color-primary, #ff4646);
}

.color-white {
  color: var(--color-white, #fff);
}

.header-h2 {
  font-family: Montserrat;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 152%; /* 36.48px */
  letter-spacing: 3.84px;
  text-transform: uppercase;
}

/* Header */

.header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.nav {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.nav-container {
  display: flex;
  width: 100%;
  height: 64px;
  max-width: 1276px;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 0px;
}

.logo-container {
  display: flex;
  padding: 8px 20px;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 8px;
  cursor: pointer;
}

.nav-links-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 8px;
}

.logo-item {
  color: var(--color-dark, #181c29);
  font-family: Montserrat;
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  line-height: 130%; /* 15.6px */
  letter-spacing: 0.6px;
  text-transform: uppercase;
}

.nav-item {
  color: var(--color-dark, #181c29);
  font-family: Montserrat;
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  line-height: 130%; /* 15.6px */
  letter-spacing: 0.6px;
  text-transform: uppercase;
  padding: 12px 20px;
}

a,
a.nav-link:link,
a.nav-link:visited,
a.nav-link:hover,
a.nav-link:active {
  position: relative;
  color: var(--color-dark, #181c29);
  text-decoration: none;
  transition-duration: 0.2s;
  transition-property: all;
  transition-delay: 0.1s;
  transition-timing-function: ease-in-out;
}

a.nav-link::before {
  content: "";
  position: absolute;
  top: -12px;
  bottom: -12px;
  left: -20px;
  right: -20px;
  border-radius: 4px;
  transition-duration: 0.2s;
  transition-property: all;
  transition-delay: 0.1s;
  transition-timing-function: ease-in-out;
}

a.nav-link:hover::before,
.nav-link-active {
  background-color: var(--color-primary-10, rgba(255, 70, 70, 0.1));
  border-radius: 12px;
}

.nav-link-active {
  color: var(--color-primary, #ff4646);
}

li.nav-link-active:hover {
  cursor: default;
}

.nav-item a:hover {
  color: var(--color-primary, #ff4646);
}

/* Hero */

.section-hero {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 60px 8px;
  border-radius: 20px 20px 0 0;
  background-color: var(--color-primary, #ff4646);
  background-image: url(../images/bg-snow.png), url(../images/bg-ball.png);
  background-position:
    50% 50%,
    50% 50%;
  background-size: cover, cover;
  background-repeat: no-repeat, no-repeat;
}

.hero-container {
  padding: 60px 0px;
  max-width: 430px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
}

.hero-caption {
  color: var(--color-white, #fff);
  text-align: center;
  font-family: Allura;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 100%; /* 24px */
  letter-spacing: 1.2px;
}

.hero-h1 {
  color: var(--color-white, #fff);
  text-align: center;
  font-family: Montserrat;
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%; /* 48px */
  letter-spacing: 5.76px;
  text-transform: uppercase;
}

.hero-button {
  display: flex;
  padding: 20px 32px;
  justify-content: center;
  align-items: center;
  gap: 0px;
  background-color: var(--color-dark, #181c29);
  color: var(--color-white, #fff);
  border-radius: 20px;
  transition-duration: 0.3s;
  transition-property: all;
  transition-delay: 0.1s;
  transition-timing-function: ease-in-out;
}

.hero-button:hover {
  color: var(--color-dark, #181c29);
  background-color: var(--color-white, #fff);
}

.hero-button-text {
  color: var(--color-white, #fff);
  text-align: center;
  font-family: Montserrat;
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  line-height: 130%; /* 15.6px */
  letter-spacing: 0.6px;
  text-transform: uppercase;
}

/* About */

.section-about {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  padding: 60px 8px;
  background-color: var(--color-primary, #ff4646);
  background-image: url(../images/bg-snow.png);
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
}

.about-container {
  margin: 0 60px;
  max-width: 1276px;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 60px;
  border-radius: 20px;
  background-color: var(--color-white, #fff);
}

.about-content-container {
  padding: 0 60px;
  max-width: 540px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 20px;
}

.about-image-container {
  max-width: 638px;
  background-image: url(../images/santa.png);
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 20px;
  display: flex;
  height: 528px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.about-image {
  width: 638px;
  height: 528px;
}

.about-content-caption {
  align-self: start;
  color: var(--color-primary, #ff4646);
  font-family: Allura;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 100%; /* 24px */
  letter-spacing: 1.2px;
}

.about-content-text {
  color: var(--color-dark, #181c29);
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 148%; /* 23.68px */
}

/* Slider */

.section-slider {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  padding: 60px 0;
  background-color: var(--color-primary, #ff4646);
  background-image: url(../images/bg-snow.png);
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
}

.slider-container {
  margin: 0 60px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}

.slider-header-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 12px;
}

.slider-header-caption {
  color: var(--color-white, #fff);
  font-family: Allura;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 100%; /* 24px */
  letter-spacing: 1.2px;
}

.slider-items-container {
  padding: 0 84px;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  overflow: hidden;
}

.slider-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}

.slider-item-caption {
  color: var(--color-white, #fff);
  text-align: center;
  font-family: Montserrat;
  font-size: 80px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-transform: uppercase;
}

.slider-item-image {
  width: 200px;
  height: 200px;
}

.slider-image {
  max-width: 100%;
  height: auto;
  border-radius: 20px;
}

.slider-controls {
  padding: 0 82px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  align-self: flex-end;
  gap: 20px;
}

.slider-button {
  display: flex;
  width: 56px;
  height: 56px;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  transition-duration: 0.2s;
  transition-property: all;
  transition-delay: 0.1s;
  transition-timing-function: ease-in-out;
}

.slider-button-active {
  border: 1px solid var(--color-white, #fff);
  cursor: pointer;
}

.slider-button-active:hover {
  background-color: var(--color-white, #fff);
  border: 1px solid var(--color-white, #fff);
}

.slider-button-active:hover svg {
  transition-duration: 0.2s;
  transition-property: all;
  transition-delay: 0.1s;
  transition-timing-function: ease-in-out;
}

.slider-button-active:hover svg path {
  stroke: var(--color-primary, #ff4646);
}

.slider-button-passive {
  border: 1px solid var(--color-white-40, rgba(255, 255, 255, 0.4));
  stroke: var(--color-white-40, rgba(255, 255, 255, 0.4));
}

/* Best */

.section-best {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  padding: 60px 0;
  background-color: var(--color-primary, #ff4646);
  background-image: url(../images/bg-snow.png);
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
}

.best-container {
  margin: 0 60px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}

.best-header-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 12px;
}

.best-header-caption {
  color: var(--color-white, #fff);
  font-family: Allura;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 100%; /* 24px */
  letter-spacing: 1.2px;
}

.best-items-container {
  width: 100%;
  max-width: 1276px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-content: center;
  gap: 12px;
  flex-wrap: wrap;
}

.best-item {
  max-width: 310px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  align-content: center;
  gap: 0px;
  background-color: var(--color-content, #ecf3f8);
  border-radius: 20px;
  cursor: pointer;
}

.best-item-image {
  width: 310px;
  height: 230px;
}

.best-image {
  max-width: 100%;
  height: auto;
  border-radius: 20px;
}

.best-item-caption {
  width: 100%;
  padding: 20px 20px;
  height: 112px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  align-content: center;
  gap: 8px;
  background-color: var(--color-white, #fff);
  border-radius: 20px;
}

.best-header-h4 {
  font-family: Montserrat;
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  line-height: 130%; /* 15.6px */
  letter-spacing: 0.6px;
  text-transform: uppercase;
}

.best-header-h3 {
  color: var(--color-dark, #181c29);
  text-overflow: ellipsis;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 152%; /* 24.32px */
  letter-spacing: 1.28px;
  text-transform: uppercase;
  transition-duration: 0.2s;
  transition-property: all;
  transition-delay: 0.1s;
  transition-timing-function: ease-in-out;
}

.best-item:hover .best-header-h3 {
  color: var(--color-primary, #ff4646);
}

.tag-purple {
  color: var(--color-purple, #4361ff);
}

.tag-green {
  color: var(--color-green, #4caf50);
}

.tag-pink {
  color: var(--color-pink, #ff43f7);
}

/* CTA */

.section-cta {
  padding: 120px 8px;
  /*padding: 60px 8px;*/
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  background-color: var(--color-primary, #ff4646);
  background-image: url(../images/bg-snow.png), url(../images/bg-forest.png);
  background-position:
    50% 50%,
    50% 50%;
  background-size: cover, cover;
  background-repeat: no-repeat, no-repeat;
  border-radius: 0 0 20px 20px;
}

.cta-container {
  padding: 60px 0px;
  width: 100%;
  max-width: 426px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.cta-header-caption {
  color: var(--color-white, #fff);
  font-family: Allura;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 100%; /* 24px */
  letter-spacing: 1.2px;
}

.cta-button {
  margin-top: -2px;
  display: flex;
  padding: 20px 32px;
  justify-content: center;
  align-items: center;
  gap: 0px;
  background-color: var(--color-dark, #181c29);
  color: var(--color-white, #fff);
  border-radius: 20px;
  transition-duration: 0.3s;
  transition-property: all;
  transition-delay: 0.1s;
  transition-timing-function: ease-in-out;
}

.cta-button:hover {
  color: var(--color-dark, #181c29);
  background-color: var(--color-white, #fff);
}

.cta-button-text {
  color: var(--color-white, #fff);
  text-align: center;
  font-family: Montserrat;
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  line-height: 130%; /* 15.6px */
  letter-spacing: 0.6px;
  text-transform: uppercase;
}

.timer-items-container {
  margin-top: -14px;
  padding: 10px 12px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  background-color: var(--color-white-40, rgba(255, 255, 255, 0.4));
  border-radius: 20px;
  gap: 0px;
}

.timer-item {
  width: 80px;
  height: 52px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0px;
}

.timer-item-separator {
  background-color: var(--color-white-40, rgba(255, 255, 255, 0.4));
  align-self: center;
  width: 1px;
  height: 20px;
  display: flex;
  flex-direction: row;
}

.cta-header-h4 {
  color: var(--color-white, #fff);
  font-family: Montserrat;
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  line-height: 130%; /* 15.6px */
  letter-spacing: 0.6px;
  text-transform: uppercase;
}

/* Footer */

.footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.contacts-container {
  display: flex;
  width: 100%;
  max-width: 1440px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0px;
  background-color: var(--color-white, #fff);
}

.contacts-items-container {
  padding: 60px 0px;
  max-width: 1276px;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  align-self: center;
  gap: 12px;
}

.contact-item {
  margin-top: 2px;
  height: 204px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 12px;
  background-color: var(--color-content, #ecf3f8);
  border-radius: 20px;
  cursor: pointer;
}

.contact-item:hover .contact-item-caption,
.contact-item:hover .contact-header-h3 {
  color: var(--color-primary, #ff4646);
}

.contact-item-image {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
}

.contact-item-link {
  width: 100%;
  max-width: 417px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.contact-item-caption {
  color: var(--color-dark, #181c29);
  text-align: center;
  font-family: Montserrat;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 152%; /* 36.48px */
  letter-spacing: 3.84px;
  text-transform: uppercase;
  transition-duration: 0.2s;
  transition-property: all;
  transition-delay: 0.1s;
  transition-timing-function: ease-in-out;
}

.contact-header-h3 {
  color: var(--color-darkark, #181c29);
  text-align: center;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 152%; /* 24.32px */
  letter-spacing: 1.28px;
  text-transform: uppercase;
  transition-duration: 0.2s;
  transition-property: all;
  transition-delay: 0.1s;
  transition-timing-function: ease-in-out;
}

.contacts-bottom-container {
  margin-bottom: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 12px;
}

.social-items-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 12px;
}

.social-item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 4px;
  cursor: pointer;
}

.social-item svg path {
  transition-duration: 0.2s;
  transition-property: all;
  transition-delay: 0.1s;
  transition-timing-function: ease-in-out;
}

.social-item:hover svg path {
  stroke: var(--color-primary, #ff4646);
}

.contacts-copyright {
  color: var(--color-darkDark, #181c29);
  text-align: center;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 148%; /* 23.68px */
}

.contacts-caption {
  color: var(--color-dark, #181c29);
  text-align: center;
  font-family: Allura;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 100%; /* 24px */
  letter-spacing: 1.2px;
  transition-duration: 0.2s;
  transition-property: all;
  transition-delay: 0.1s;
  transition-timing-function: ease-in-out;
  cursor: pointer;
}

.contacts-caption:hover a {
  color: var(--color-primary, #ff4646);
}

/* Gifts */

.section-gifts {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
}

.gifts-container {
  display: flex;
  width: 100%;
  max-width: 1440px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0px;
}

.gifts-header-container {
  width: 100%;
  height: 200px;
  padding: 60px 0;
  background-color: var(--color-primary, #ff4646);
  background-image: url(../images/bg-garland.png);
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 20px 20px 0 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-self: flex-end;
  gap: 0px;
}

.gifts-header-h1 {
  max-width: 426px;
  color: var(--color-white, #fff);
  text-align: center;
  font-family: Montserrat;
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%; /* 48px */
  letter-spacing: 5.76px;
  text-transform: uppercase;
}

.gifts-tabs-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0px;
  background-color: var(--color-primary, #ff4646);
}

.gifts-tabs-items {
  padding-top: 24px;
  padding-bottom: 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.gifts-tab {
  all: unset;
  display: inline-block;
  cursor: pointer;
  padding: 12px 20px;
  color: var(--color-white, #fff);
  font-family: Montserrat;
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  line-height: 130%; /* 15.6px */
  letter-spacing: 0.6px;
  text-transform: uppercase;
  transition-duration: 0.2s;
  transition-property: all;
  transition-delay: 0.1s;
  transition-timing-function: ease-in-out;
}

button.tab-active,
button.gifts-tab:hover {
  background-color: var(--color-white-20, rgba(255, 255, 255, 0.2));
  border-radius: 12px;
}

button.tab-active {
  cursor: default;
}

.card-items-wrapper {
  width: 100%;
  padding-bottom: 60px;
  padding: auto;
  background-color: var(--color-primary, #ff4646);
  border-radius: 0 0 20px 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.card-item {
  max-width: 310px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  align-content: center;
  gap: 0px;
  background-color: var(--color-content, #ecf3f8);
  border-radius: 20px;
  cursor: pointer;
}

.card-item-image {
  width: 310px;
  height: 230px;
}

.card-image {
  max-width: 100%;
  height: auto;
  border-radius: 20px;
}

.card-item-caption {
  width: 100%;
  padding: 20px 20px;
  height: 112px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  align-content: center;
  gap: 8px;
  background-color: var(--color-white, #fff);
  border-radius: 20px;
}
