/* burger */

@media (max-width: 768px) {
  .nav-links-container {
    display: none;
  }

  .burger-button-container {
    display: block;
  }

  .logo-container {
    margin-left: 8px;
  }
}

/* mobile */
@media (min-width: 380px) and (max-width: 767px) {
}

/* tablet */
@media (min-width: 768px) and (max-width: 1023px) {
}
